doctype html
html(lang='en')

	head
		include translator_css

		script var translate=!{JSON.stringify(translate)};

	body(ng-app='translatorSoloist',ng-controller='translatorTranslatePages')

		include translator_menu

		.container
			include translator_message
			h1 Print Pages for !{languageDesc}
			ul.nav.nav-tabs#translate-tab
				for page, i in languagePages
					li
						a(href='#translate-' + i,data-toggle='tab') !{page}

			.tab-content
				for page, p in languagePages
					.tab-pane(id='translate-' + p)
						for trans in translate
							if (trans.page == page)
								.row
									// h4.col-lg-1 !{i}
									h4.col-lg-11(ng-bind=trans.key,data-last=trans.text,data-page=trans.page, type='text')


	include translator_js




