doctype html
html(lang='en')

	head
		include translator_css

		script var translate=!{JSON.stringify(translate)};

	body(ng-app='translatorSoloist',ng-controller='translatorTranslatePages')

		include translator_menu

		.container
			include translator_message
			h1 Translate Pages for !{languageDesc}
			ul.nav.nav-tabs#translate-tab
				- for (var i = 0; i < languagePages.length; ++i) {
				li
					a(href='#translate-' + i,data-toggle='tab') !{languagePages[i]}
					-}
			.tab-content
				- for (var p = 0; p < languagePages.length; ++p) {
				.tab-pane(id='translate-' + p)
					.row

					- for (var i = 0; i < translate.length; ++i) {
					.row
						if (translate[i].page == languagePages[p])
							//h4.col-lg-1 !{i}
							h4.col-lg-11(ng-bind=translate[i].key,data-last=translate[i].text,data-page=translate[i].page, type='text')
						-}
					-}
	include translator_js




